:root {
    font-size: 16px;
}

body {
    font-family: $font-family;
    font-weight: $font-normal;
    color: $dark;
    line-height: 1.35;
}

a {
    text-decoration: none;
    color: $dark;
}

.section-title {
    text-transform: uppercase;
    @include media-max("md") {
        font-size: 1.5rem;
    }
}

.container {
    max-width: $xxl;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    flex-basis: 60%;
}

.series-s {
    position: absolute;
    top: 100px;
    opacity: 0;
}

.h1-title {
    font-size: 5rem;
    color: $primary;
    text-transform: uppercase;
    margin: 3rem 0;
}

.header-icon {
    font-size: 2rem;
}

.flex-group {
    @include flex;
    @include media-max("md") {
        display: block;
    }
}

.content {
    position: absolute;
    top: 15%;
    @include media-max("md") {
        top: 15%;
        left: 10%;
    }
}

.subtitle {
    font-size: 3rem;
}

.desc-group {
    @include media-max("md") {
        transform: translateY(90%);
    }
}

.lists {
    @include flex;
    & > * {
        padding-right: 10px;
    }
}

.list-item {
    font-weight: $font-bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.big-text {
    font-size: 1.5rem;
}

.small-text {
    font-size: 0.5rem;
    text-transform: capitalize;
}

.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.blue {
    color: $blue;
}

.price {
    font-weight: $font-bold;
    font-size: 4rem;
}

.price-s {
    position: absolute;
    bottom: 20px;
    opacity: 0;
}

.series-s-grp {
    position: absolute;
    top: 35%;
}

.letter {
    position: absolute;
    color: $white;
    text-align: center;
    border-radius: 50%;
    font-weight: $font-bold;
    padding: 0.1rem;
    width: 25px;
    height: 25px;
    @include media-max("md") {
        display: none;
    }
}

.a {
    background-color: $orange;
    top: 15%;
    right: 550px;
}

.b {
    background-color: $yellow;
    top: 15%;
    left: 700px;
    transform: rotate(-40deg);
}

.x {
    background-color: $blue;
    bottom: 10%;
    left: 1000px;
    transform: rotate(-50deg);
}

.console {
    @extend %img-fluid;
}

.series-grp {
    position: absolute;
    right: 250px;
}

.console-s {
    // opacity: 1;
    position: absolute;
    right: 0px;
    top: 10px;
    transform: scale(1.5);
}

.console-x {
    position: absolute;
    top: 310px;
    right: 700px;
    opacity: 1;
    transform: scale(6);
}

.series-text {
    font-weight: $font-bold;
    color: $primary;
    text-transform: uppercase;
}

.series-s-text {
    transform: translateY(130px);
}

.series-x-text {
    transform: translateY(300px);
    opacity: 0;
}

//Triangle
.tri {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    transform: rotate(285deg) scale(6.4);
    position: absolute;
}

.tri-green {
    border-left: 100px solid rgba($primary, 0.4);
    left: 55%;
    top: 40%;
}

.tri-dark {
    border-left: 100px solid rgba($dark, 0.4);
    left: 55%;
    top: 40%;
    opacity: 0;
}
