:root {
    font-size: 16px;
}

body {
    font-family: $font-family;
    font-weight: $font-normal;
    color: $dark;
    line-height: 1.35;
}

a {
    text-decoration: none;
    color: $dark;
}

.section-title {
    text-transform: uppercase;
    @include media-max("md") {
        font-size: 1.5rem;
    }
}

.container {
    max-width: $xxl;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.logo {
    flex-basis: 60%;
}

.header-icon {
    font-size: 2rem;
}

/*=============================================
=            Main Styles            =
=============================================*/
.main {
    min-height: 85vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.h1-title {
    margin-top: -3rem;
    font-size: 3rem;
}

.subtitle {
    font-size: 5rem;
    color: $primary;
    text-transform: uppercase;
    font-weight: $font-bold;
}

.s-text {
    position: absolute;
    top: 110px;
    opacity: 0;
}

.lists {
    display: flex;
    & > * {
        padding-right: 15px;
    }
}

.list-item {
    text-transform: capitalize;
}

.big-text {
    font-size: 2rem;
    font-weight: $font-bold;
    text-transform: uppercase;
}

.small-text {
    font-size: 1.5rem;
    font-weight: $font-bold;
}

.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.blue {
    color: $blue;
}

.price {
    font-weight: $font-bold;
    font-size: 4rem;
}

.price-x {
    opacity: 1;
}

.price-s {
    position: absolute;
    bottom: 210px;
    opacity: 0;
}

.letter {
    position: absolute;
    color: $white;
    text-align: center;
    border-radius: 50%;
    font-weight: $font-bold;
    padding: 0.1rem;
    width: 25px;
    height: 25px;
    @include media-max("md") {
        display: none;
    }
}

.a {
    position: absolute;
    background-color: $orange;
    top: 150px;
    right: 250px;
}

.b {
    position: absolute;
    background-color: $yellow;
    top: 100px;
    left: 700px;
    transform: rotate(-40deg);
}

.x {
    position: absolute;
    background-color: $blue;
    bottom: 0px;
    left: 750px;
    transform: rotate(-50deg);
}

.console-s {
    position: absolute;
    top: 200px;
    right: -20px;
    transform: scale(0.7);
}

.console-x {
    position: absolute;
    top: 30px;
    left: 250px;
    transform: scale(0.6);
}

//Triangle
.triangle {
    // @Favour Study this clamp function.
    // The middle value is relative to the vw and requires some maths...
    // to know what function goes in calc that does what you want.
    width: clamp(300px, calc(100vw / 1.25), 900px);
    height: auto;
    position: absolute;
    top: -15%;
    left: 20%;
    transform: scale(0.8);

    // Using CSS Variables to define gradient colors
    .tri-green {
        --color-start: #8bd80a;
        --color-stop: #3d3c3c;
    }

    .tri-gray {
        --color-start: #c4c4c4;
        --color-stop: #3d3c3c;
    }
}
/*=====  End of Main Styles  ======*/
